.completed {
	background-color: greenyellow;
	border-top: 2px solid red;
	border-right: 2px solid red;
	border-left: 2px solid red;
	border-bottom: 2px solid red;
	font-size: small;
}

.notcompleted {
	background-color:beige;
	font-size: small;
}

.initial {
	background-color: #e57373;
	color: #ffffff;
	border-right: 5px solid #444;
	font-size: small;
	font-weight: bold;
}

.managed {
	background-color: #ec7a08;
	color: #ffffff;
	border-right: 5px solid #444;
	font-size: small;
	font-weight: bold;
}

.defined {
	background-color: #ffc107;
	color: #000000;
	border-right: 5px solid #444;
	font-size: small;
	font-weight: bold;
}

.quantitative {
	background-color: #8bc34a;
	color: #000000;
	border-right: 5px solid #444;
	font-size: small;
	font-weight: bold;
}

.optimizing {
	background-color: #2aaa04;
	color: #ffffff;
	border-right: 5px solid #444;
	font-size: small;
	font-weight: bold;
}


table {
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	background-color: rgba(255,255,255,0.2);
}

th {
	text-align: left;
	color: #fff;
}

.table-header {
	background-color: #55608f;
	color: #fff;
}

